<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What we do</h2>
                <hr class="light">
                <p class="text-faded">We help clients understand and make decisions about modern software solutions, from technical due diligence, cloud architecture, technical feasibility, development process and culture to the implementation and delivery.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Find out about our services</a>
            </div>
        </div>
    </div>
</section>
